services:
  - type: web
    name: finance-backend
    env: python
    plan: free
    buildCommand: "pip install -r requirements_backend.txt"
    startCommand: ./start.sh
    envVars:
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: finalyear-3b277-firebase-adminsdk-fbsvc-b2c4c69496.json

  - type: web
    name: predict-api
    env: python
    plan: free
    pythonVersion: 3.10.14
    buildCommand: "pip install -r requirements_predict.txt"
    startCommand: python future_prediction/predict_api.py
    envVars:
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: finalyear-3b277-firebase-adminsdk-fbsvc-b2c4c69496.json
