services:
  # ---------------------- MAIN FLASK BACKEND ----------------------
  - type: web
    name: finance-backend
    env: python
    plan: free
    rootDir: .                          # repo root
    buildCommand: |
      cp ../runtime.txt ./ || true
      pip install --upgrade pip
      pip install -r requirements_backend.txt
    startCommand: ./start.sh
    envVars:
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: finalyear-3b277-firebase-adminsdk-fbsvc-b2c4c69496.json

  # ---------------------- PREDICT-API SERVICE ----------------------
  - type: web
    name: predict-api
    env: python
    plan: free
    rootDir: future_prediction           # use this folder as context
    buildCommand: |
      cp ../runtime.txt ./ || true
      pip install --upgrade pip
      pip install numpy Cython wheel
      pip install -r ../requirements_predict.txt
    startCommand: python predict_api.py
    envVars:
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: finalyear-3b277-firebase-adminsdk-fbsvc-b2c4c69496.json
